*{
    margin: 0;
    padding: 0;
    
}
body {
    background-color: black;
    color: white;
    
    font-family: monospace;
}

a {
    all: initial;
    font-family: monospace;
    color: black;
}

.header-links a:hover{
        background-color: #5f39aa; 
        color: white;
}
.header-links {
    margin-right: 26px;
}


#wordmark-header-logo {
    height: 125px;
    width: 125px;
    margin-top: -50px;
}
header {
    display: flex;
    justify-content: space-between;
    background: #8B8888;
    color: black;
    padding: 10px;
    height: 20px;
}
.header-links a{
    margin-left: 25px;
    font-size: large;
}

.dropbtn{
    all: initial;
    font-family: monospace;
    color: black;
    font-size: large;
    
}
.dropbtn:hover{
    background-color: #5f39aa;
    color: white;
}


.dropdown {
    font-family: monospace;
    margin-top: 11.5px;
    position: relative; 
    display: inline-block; 
    
}

.dropdown-content {
    display: none; 
    position: absolute; 
    background-color: #8B8888; 
    width: 125px;
    margin-left: -20px;
    box-shadow: 2px 2px 30px 0px #6a49ac; 
    z-index: 1; 
}

.dropdown-content a {
    color: black; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
    font-size: 12px;
    margin-left: -.5px;
}

.dropdown-content a:hover {
    background-color: #5f39aa; 
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block; 
}

#subheader-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    width: 90%;
    margin-top: 25px;
}

#subheader-banner h1 {
    font-size: 25px;
    color: #8B8888;
    opacity: .7;
}

#article-img-1, #article-img-2, #article-img-3{
    height: 250px;
    min-width: 460px;
    max-width: 460px;
    border-style: solid;
    border-color: #5f39aa;
    border-width: 5px;
}

#article{
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    align-self: center;
    margin-left: 3%;
}

#article h2{
    margin-bottom: 1%;
    font-size: 40px;
}
#article p{
    margin-top: 2%;
    font-size: 25px;
}

#home-article-container-1, #home-article-container-2, #home-article-container-3{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    font-size: large;
    margin-left: 5%;
    margin-right: 5%;
}

#home-article-container-2{
    text-align: right;
}

#home-article-container-2 #article {
    margin-right: 3%;
}

#bottom-article {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin-left: 5%;
    margin-right: 5%;
}
#bottom-article-link{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bottom-article-github-logo{
    height: 80px;
    width: 80px;
}

#bottom-article-link p {
    color: white;
    font-size: 25px;
    margin-top: 7px;
}
#contact-form-section{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#contact-form-section h1{
    font-size:50px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    font-size: 25px;
    margin-left:13%;
    margin-top: 25px;
}
#contact-form input{
    height: 40px;
    font-size: 25px;
    margin-bottom: 25px;
}

#contact-form textarea{
    font-size: 25px;
}


#bio-section {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bio-section img{
    height: 600px;
}

#bio-article {
    margin-left: 45px;
    width: 550px;
    font-size: 18px;
    line-height: 22.5px;
}

#bio-article p {
    margin-top: 35px;
}



footer{
    height:40px;
    background-color: #8B8888;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
    position:absolute;
    font-size: large;

}

#footer-right{
    display: flex;
    width: 16%;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: absolute;
    margin-left: 80%;
    margin-right: 15px;
}

#footer-right a:hover {
    background-color: #5f39aa;
}

#wordmark-footer-logo {
    height: 40px;
    width: 80px;
    margin-top: -15%;
    position: relative;
    margin-left: -15px;
    
    
}
#github-footer-logo{
    height: 32px;
    width: 40px;
    padding: 0 5px;
    margin-top: 3px;
}

@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
        img {
            height: 30%;
            width: 50%;
        }
        #article {
            max-width: 50%;
        }
        header{
            min-width: 100%;
        }
        footer{
            min-width: 100%
        }
        #subheader-banner{
            font-size: large;
        }
}